<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>pseudo-chat</title>
    <link rel="stylesheet" href="style.css" type="text/css" media="all" />
</head>

<body>
    <div class="container">
        <div class="title">
            title
        </div>

        <div class="contents scroll">

            <div class="opponent_post">
                <figure>
                    <img src="icon.png" />
                </figure>

                <div class="opponent_message">
                    <div class="opponent_name">Alice</div>
                    <div class="message">hello, world</div>
                </div>
            </div>

            <div class="my_post">
                <div class="my_message">
                    <div class="message">respect my authoritah!!</div>
                    <span class="date">read<br>0:30</span>
                </div>
            </div>
        </div>
    </div>

    <input type="button" value="receive" onclick="receive()">
    <input type="button" value="send" onclick="send()">

</body>
<script type="text/javascript" src="index.js"></script>

</html>